<h1><%= @skill.name %></h1>
<h3><%= @skill.description %></h3>

<% if @skill.projects.any? %>
<h4>Here are all the projects that demonstrate the use of <%= @skill.name %>:</h4>

  <ul>
    <% @skill.projects.each do |project| %>
      <li><%= link_to project.name, skill_project_path(@skill, project) %></li>
    <% end %>
  </ul>

<% else %>
  <h4>There are no projects associated with <%= @skill.name %> yet. </h4>

<% end %>

<p><%= link_to "Add project to " + @skill.name, new_skill_project_path(@skill) %></p>

<p><%= link_to "Edit " + @skill.name, edit_skill_path(@skill) %></p>

<p><%= link_to "Delete " + @skill.name, skill_path(@skill),
                          :data => {:confirm => "Are you sure you want to delete" + @skill.name + "?",
                                    :method => 'delete'} %></p>

<p><%= link_to "Return to Skills", skills_path %></p>
