<div class="container">
  <div class= "intro">
    <h1><%= @skill.name %></h1>
  </div>

  <div class="container">
    <div class="col-md-8">
      <div class="content">
        <h3><%= @skill.description %></h3>
      </div>
    </div>

    <div class="col-md-4">
      <div class= "divs">
        <% if @skill.projects.any? %>
        <h4>Here are all the projects that demonstrate the use of <%= @skill.name %>:</h4>

          <ul>
            <% @skill.projects.each do |project| %>
              <li><%= link_to project.name, skill_project_path(@skill, project) %></li>
            <% end %>
          </ul>

        <% else %>
          <h4>There are no projects associated with <%= @skill.name %> yet. </h4>

        <% end %>

        <p><%= link_to "Add project to " + @skill.name, new_skill_project_path(@skill), :class => "btn btn-success" %></p>
      </div>
    </div>
  </div>

  <div class= 'altering'>
    <p>
    <%= link_to "Edit " + @skill.name, edit_skill_path(@skill), :class => "btn btn-primary" %>

    <%= link_to "Delete " + @skill.name, skill_path(@skill), :class => "btn btn-danger",
                              :data => {:confirm => "Are you sure you want to delete" + @skill.name + "?",
                                        :method => 'delete'} %>
    </p>
  </div>

  <br>

  <p><%= link_to "Return to Skills", skills_path, :class => "btn btn-default" %></p>

</div>
