<div class= "container">
  <div class="intro">
    <h1><%= @project.name %></h1>
  </div>
  <div class="content">
    <h3><%= @project.description %></h3>
  </div>

  <% if current_user != nil && current_user.admin %>
    <div class="altering">
      <p><%= link_to "Edit " + @project.name, edit_skill_project_path, :class => "btn btn-primary" %>

      <%= link_to "Delete " + @project.name, skill_project_path(@skill, @project), :class => "btn btn-danger",
                                  :data =>{:confirm => "Are you sure you want to delete " + @project.name + " from " + @skill.name + "?",
                                    :method => 'delete'} %></p>
    </div>
  <% end %>

  <br>

  <p><%= link_to "Back to " + @skill.name + " page", skill_path, :class => "btn btn-default" %></p>
</div>
