<p id="reference_<%= reference.id %>">
  <hr>
  <p>Name: <%= reference.name %></p>
  <p>Email: <%= reference.email %></p>
  <p>Phone: <%= reference.phone %></p>
  <p>Experience with Ian:</p>
  <p><%= reference.body %></p>
</p>
